.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
    *{
        box-sizing: border-box;
    }
    body{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin: 100px 500px;
        font-size: 20px;
        padding: 8px;
    }
    .container{
        
        padding: 5px 150px 15px 150px;
        border-color: #1c0436;
        border: 3px solid rgb(22, 18, 18);
        border-radius:10px;
    }
    input[type="text"],
    select,
    textarea{
        width: 100%;
        padding: 12px;
    }
